extends includes/layout.pug

block content
  include ./includes/mixins/article-sort.pug
  #category
    .article-sort-title= _p('page.category') + ' - ' + page.category
    +articleCategorySort(page.posts, page.category)
  include includes/pagination.pug
  